.item-list-card {
    border-width: 1px;
    border-color: #000080;
    border-style: solid;
    display:flex;
    justify-content: center;
    height: 100%;
}

.item-list-card ul {
    padding:0;
    margin: 0;
    width: 80%;
    list-style: none;
}

.item-list-card ul li{
    border-bottom-style: solid;
    border-bottom-color: #000080;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    &:last-child {
        border-bottom-style: hidden;
    }
}

.lists-innner {
    display: flex;
    justify-content: center;
}

.move-btn {
    background-color: #000080;
    height: 40px;
    padding: 0px 30px 0px 30px;
    margin-top: 30px;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

.container-inner {
    width: 700px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.container-content {
    width: 300px;
    height: auto;
}

.list-under {
    display: flex;
    justify-content: center;
}